/* -------------------------------- 

File#: N/A
Title: Resposive Iframe
Descr: Responsive wrapper for iframe elements (e.g., YouTube and Vimeo videos)
Usage: codyhouse.co/license

-------------------------------- */